data=/private/home/yanwang93/Datasets/inatural/setup/
num-classes=908
batch-size=256
split-dir=./split/inatural/
lr 0.1
lr-gamma 0.1
optimizer=SGD
meta-val-interval=4
workers=40
meta-val-metric=cosine
arch=resnet18
save-path=./results/inatural/softmax/resnet18
scheduler=step
epochs=90
lr-stepsize=30
