data=/private/home/yanwang93/Datasets/tiered-imagenet/data/
num-classes=351
batch-size=256
split-dir=./split/tiered/
lr 0.1
lr-gamma 0.1
optimizer=SGD
meta-val-interval=4
workers=40
meta-val-metric=cosine
arch=resnet50
save-path=./results/tiered/softmax/resnet50
scheduler=step
epochs=90
lr-stepsize=30
